/* Write CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  }
}
.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}
@media screen and (min-width: 992px) {
  .stopwatch-container {
    align-items: flex-start;
    margin-left: 165px;
  }
}
.stopwatch {
  color: #333333;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 500;
}
.heading {
  color: #333333;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
.stopwatch-timer {
  color: #333333;
  font-size: 26px;
  font-weight: 500;
}
.button {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid;
  margin: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}
.timer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.start-button {
  background-color: #1db05f;
  color: #ffffff;
  margin-right: 24px;
}
.stop-button {
  background-color: #ef0d36;
  color: #ffffff;
  margin-right: 24px;
}
.reset-button {
  background-color: #eaa800;
  color: #ffffff;
}
.timer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
